{% extends 'base.html' %}

{% block content %}
    <p style="font-size: 18px; font-weight: bold;">Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>

    <p style="font-size: 16px; color: #555;">
        Вы получили это письмо, потому что запросили сброс пароля на нашем сайте. Если вы не делали этот запрос, просто проигнорируйте это письмо.
    </p>

    <p style="font-size: 16px; color: #555;">
        Чтобы сбросить пароль, нажмите на кнопку ниже:
    </p>

    <p style="text-align: center; margin-top: 20px;">
        <a href="http://localhost:8000{% url 'account:password-reset-confirm' uidb64=uid token=token %}"
           style="background-color: #007bff; color: white; padding: 12px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;">
            Сбросить пароль
        </a>
    </p>

    <p style="font-size: 14px; color: #777; margin-top: 20px;">
        Если кнопка не работает, вы можете использовать следующую ссылку:
        <br>
        <a href="http://localhost:8000{% url 'account:password-reset-confirm' uidb64=uid token=token %}"
           style="color: #007bff;">
            http://localhost:8000{% url 'account:password-reset-confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p style="font-size: 14px; color: #777;">
        Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на него.
    </p>
{% endblock content %}